In [13]:
space = {"a", "b", "c", "d", "e", "a", "b"}

space

{'a', 'b', 'c', 'd', 'e'}

In [2]:
team_A = ["alice@example.com", "bob@example.com", "charlie@example.com"]
team_B = ["bob@example.com", "david@example.com", "alice@example.com"]

def checkDuplication(team1, team2):
    set1 = set(team1)
    set2 = set(team2)
    return set1 & set2
print(checkDuplication(team_A, team_B))

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [6]:
t = ([1,2,3,4,5], 2, 3)
print(id(t))      # 튜플 객체의 메모리 주소
print(id(t[0]))   # 첫 번째 요소의 메모리 주소
print(id(t[1]))   # 두 번째 요소의 메모리 주소
print(id(t[2]))   # 세 번째 요소의 메모리 주소


a = t[0]
a.append(10)
print(id(t))      # 튜플 객체의 메모리 주소
print(id(t[0]))   # 첫 번째 요소의 메모리 주소
print(id(t[1]))   # 두 번째 요소의 메모리 주소
print(id(t[2]))   # 세 번째 요소의 메모리 주소

print(t)

139862928679872
139862927450496
10750888
10750920
139862928679872
139862927450496
10750888
10750920
([1, 2, 3, 4, 5, 10], 2, 3)

In [ ]:
dictionary = {
  "1.jpg": {"context": "9월부터 ...", "language": "english"},
  "2.jpg": {"context": "ㅁㄴㅇㄹ ...", "language": "english"},
  "3.jpg": {"context": "ㅍㅍ ...", "language": "english"},
  "4.jpg": {"context": "ㅇㅇ ...", "language": "english"},
  "5.jpg": {"context": "ㅁㅁ ...", "language": "english"}
}

In [12]:
students = {
  "철수": 85,
  "영희": 90,
  "민수": 98,
  "민지": 92
  }

# students를 하나씩 iteration 하면서 students의 value값들 중 가장 큰 값의 key를 best_student에 저장
best_student = max(students, key=students.get)
best_score = students[best_student]

print(f"최고 성적 학생: {best_student}, 성적: {best_score}")

최고 성적 학생: 민수, 성적: 98

In [13]:
students = {
  "철수": 85,
  "영희": 90,
  "민수": 98,
  "민지": 92
}

best_student = ""
best_score = 0

# students를 하나씩 iteration 하면서 students의 value값들 중 가장 큰 값의 key를 best_student에 저장
for student, score in students.items():
    if score > best_score:
        best_student = student
        best_score = score

print(f"최고 성적 학생: {best_student}, 성적: {best_score}")

최고 성적 학생: 민수, 성적: 98

In [10]:
def asdf(a,b):
  return a, b

asdf(1,2)

(1, 2)

In [9]:
{1,2,3,4,5} == {1,2,3,4,5,1,2,3,1,2,3}

True

In [ ]:
num = set([1,2,3,4,5,6])
odd = set([1,3,5,7,9,11])

num.add(7)

num.add(7)
num.remove(3)
num.clear()
num.issubset(odd)
num.difference(odd)
num.intersection(odd)
num.union(odd)

In [1]:
test = {1,2,3,4,5}

for i in test:
  print(i)

1
2
3
4
5

In [4]:
set1 = {"a", "c", "d", "e", "b"}
set2 = {"a", "b", "c", "d", "e", "a", "b"}

print(set1 == set2)

True

In [11]:
subject = {"korean", "math", "eng"}
subject[0] = "P.E."

TypeError: 'set' object does not support item assignment

In [16]:
fruits = set(["mango", "banana", "apple"])

for element in fruits:
  print(element)

mango
banana
apple

In [17]:
fruits = {1,2,3,4,5}

for i in fruits:
  print(i)

1
2
3
4
5

In [14]:
my_set = {1, 2, 3}
my_list = [4, 5]

my_set.add(my_list)

TypeError: unhashable type: 'list'

In [15]:
subject_list = ["korean", "eng"]
subject = {subject_list}

TypeError: unhashable type: 'list'

In [16]:
student = {
  "철수": 100,
  "영희": 80,
  "민준": 90,
}

In [19]:
for grade in student:
  print(grade)

철수
영희
민준

In [20]:
for grade in student:
  print(student[grade])

100
80
90

In [21]:
my_dict = {"name": "철수", "age": 25, "city": "서울"}
keys = my_dict.keys()
print(keys)  # 출력: dict_keys(['name', 'age', 'city'])

dict_keys(['name', 'age', 'city'])

In [22]:
# 예제 코드
grades = {'student1': 90, 'student2': 85, 'student3': 80}
grades_inv = {value: key for key, value in grades.items()}

print(grades_inv)

{90: 'student1', 85: 'student2', 80: 'student3'}